.App {
  text-align: center;
}

.App-header {
  background-image: url("http://polki.pl/foto/4_3_LARGE_0200/10-rzeczy-ktore-robi-kazda-z-nas-ale-nigdy-sie-do-tego-nie-przyzna-2334919.jpg");
  height: 275px;
  padding: 70px;
}

.Nav li {
  text-align: center;
  list-style: none;
	display: inline-block;
  padding-right:10px;
  margin-bottom: 30px;
	font-size: 1.7em;
}

.Nav li a {
  text-decoration: none;
}

.Nav li a {
  color: #FFD400;
}

.Nav li:hover {
  text-decoration: underline;
}

.HomeItem {
  font-weight: bold;
	font-size: 2em;
}